<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FastScale</title>
  <link rel="stylesheet" href="static/style.css" />
  <script>
    const SESSION_ID = "{{ session_id }}";
    const STICKY_STR = "{{ sticky_str }}"
  </script>
</head>
<body>
  <header>
    <h1>FastScale</h1>
  </header>

  <main>
    <div class="filters">
      <label>Responses:</label>
      <button id="toggle-https">HTTPS</button>
      <button id="toggle-wss">WSS</button>
    </div>

    <div id="responses" class="responses"></div>
    <div id="connections">
      <label> Connections</label>
      <span>client_id: {{session_id}}</span>
      <span id="ws-pid">Ws connection pid: </span>
    </div>

    <form id="the-form">
      <label for="the-input">Send with HTTPS, receive with WSS</label>
      <input type="text" id="the-input" maxlength="140" required />
      <button type="submit" name="action" value="http-only">HTTP & Round Robin</button>
      <button type="submit" name="action" value="http-sticky">HTTP & Sticky</button>
      <button type="submit" name="action" value="ws-only">WebSockets Only</button>

      <button type="submit" name="action" value="with-redis">Publish Message to Queue</button>
      <button type="submit" name="action" value="not-sticky">non-sticky HTTP & in-memory WebSockets</button>
      <button type="submit" name="action" value="sticky">sticky HTTP & in-memory WebSockets</button>
    </form>
  </main>

  <script src="static/script.js"></script>
</body>
</html>
