<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Echo</title>
  <link rel="stylesheet" href="static/style.css" />
  <script>
    const SESSION_ID = "{{ session_id }}";
    const STICKY_STR = "{{ sticky_str }}"
  </script>
</head>
<body>
  <nav>
    <div class="title">
      <h1>HTTP Sticky</h1>
      <p>Handpick the service of your choosing</p>
    </div>
    <div class="doclink">
      <p id="link-to-md">README.md</p>
    </div>
  </nav>

  <main>
    <div class="filters">
      <label>Responses:</label>
      <button class="filter-button" id="toggle-https">HTTPS</button>
      <button class="filter-button" id="toggle-wss">WSS</button>
    </div>

    <div id="responses" class="responses"></div>
    <div id="connections">
      <span>page_by: <strong>{{page_by}}</strong></span>
      <span>client_id: <strong>{{session_id}}</strong></span>
      <span id="ws-pid">Ws_connection: </span>
    </div>

    <form id="the-form">
      <label for="the-input">Enter your message</label>
      <input type="text" id="the-input" maxlength="140" required />

      <button class="request-button" type="submit" name="action" value="http-only">
        HTTP & Round Robin
        <span class="tooltip-icon">i</span>
        <div class="tooltip-content">
          Requests are serially delivered to application containers in round robin fashion.<br>
        </div>
      </button>

      <button class="request-button" type="submit" name="action" value="http-sticky">
        HTTP & Sticky
        <span class="tooltip-icon">i</span>
        <div class="tooltip-content">
          Sticky cookie added by app instance ensures that all future requests reach the same instance every time.
          <br>This includes the initial ws connection request.<br>
        </div>
      </button>

      <button class="request-button" type="submit" name="action" value="ws-only">
        WebSockets Only
        <span class="tooltip-icon">i</span>
        <div class="tooltip-content">
          WS connections are long lived. After connection is made, all messages are delivered to the same app instance.
          <br>This is true regardless of the usage of sticky headers.<br>
        </div>
      </button>

      <button class="request-button" type="submit" name="action" value="with-redis">
        Publish Message to Queue
        <span class="tooltip-icon">i</span>
        <div class="tooltip-content">
          Standard method of handling WS connections.
          <br>Messages are published to queue and the container with the recipient's connection does the delivery.
        </div>
      </button>

      <button class="request-button" type="submit" name="action" value="not-sticky">
        non-sticky HTTP & in-memory WebSockets
        <span class="tooltip-icon">i</span>
        <div class="tooltip-content">
          WS response NOT GUARANTEED.
          <br>No sticky cookie in http request. App instance that has the client's websocket session may not receive it.
        </div>
      </button>

      <button class="request-button" type="submit" name="action" value="sticky">
        sticky HTTP & in-memory WebSockets
        <span class="tooltip-icon">i</span>
        <div class="tooltip-content">
          Uses sticky cookie-based routing for http.
          <br>WebSocket connections carry the same cookie, and are routed to same instance.<br>
        </div>
      </button>
    </form>
  </main>

  <script src="static/script.js"></script>
</body>
</html>
